
obj/x64/Release/AutoEnum.exe
obj/x64/Release/AutoEnum.csproj.FileListAbsolute.txt
obj/x64/Release/AutoEnum.csproj.CoreCompileInputs.cache
obj/x64/Release/AutoEnum.csproj.CopyComplete
obj/x64/Release/AutoEnum.csproj.AssemblyReference.cache
obj/x64/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/AutoEnum.csproj.AssemblyReference.cache
obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/AutoEnum/v17/.suo
.vs/AutoEnum/FileContentIndex/fc5da58d-8824-4e91-98d5-581b163992b6.vsidx
.vs/AutoEnum/FileContentIndex/74f98594-1995-4649-8c0b-7179147cecc7.vsidx
.vs/AutoEnum/FileContentIndex/59f35def-b520-489c-92ec-f60bd46304a1.vsidx
.vs/AutoEnum/FileContentIndex/316ec891-23b9-4429-b2dd-a7fc28cf5e1c.vsidx
.vs/AutoEnum/FileContentIndex/1a99846e-b1e1-484a-92a8-17376058f9cf.vsidx
bin/x64/Release/AutoEnum.exe.config
bin/x64/Release/AutoEnum.pdb
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/AutoEnum.csproj.AssemblyReference.cache
obj/Debug/AutoEnum.csproj.CopyComplete
obj/Debug/AutoEnum.csproj.CoreCompileInputs.cache
obj/Debug/AutoEnum.csproj.FileListAbsolute.txt
obj/Debug/AutoEnum.exe
obj/Debug/AutoEnum.pdb
obj/x64/Release/AutoEnum.pdb
obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
*.vsidx
*.json
